<ion-view view-title="Choisir">

    <ion-content>

        <div class="imgchoisir">
            <img src="../img/kfc.jpg">
        </div>

        <div class="imgchoisir">
            <img src="../img/flunch.jpg">
        </div>

        <div class="imgchoisir">
            <img src="../img/chicken.jpg">
        </div>

        <div class="imgchoisir">
            <img src="../img/chipotle.jpg">
        </div>

        <div class="imgchoisir">
            <img src="../img/dominos.jpg">
        </div>

        <div class="imgchoisir">
            <img src="../img/mcdo.jpg">
        </div>

        <div class="imgchoisir">
            <img src="../img/mongoo.jpg">
        </div>

        <div class="imgchoisir">
            <img src="../img/planetsushi.jpg">
        </div>

        <div class="imgchoisir">
            <img src="../img/subway.jpg">
        </div>

        <div class="imgchoisir">
            <img src="../img/kfc.jpg">
        </div>



    </ion-content>

</ion-view>