<ion-view view-title="Choisir">

    <ion-content>

        <div class="blockchoisir">
            <img src="../img/kfc.jpg" class="imgchoisir" onclick="window.open('http://www.kfc.fr/#/restaurants_storelocator')">
        </div>

        <div class="blockchoisir">
            <img src="../img/flunch.jpg" class="imgchoisir" onclick="window.open('http://restaurant.flunch.fr/')" >
        </div>

        <div class="blockchoisir">
            <img src="../img/chicken.jpg" class="imgchoisir" onclick="window.open('http://www.chickenspot.com/index.php/fr/restaurant-locator/')" >
        </div>

        <div class="blockchoisir">
            <img src="../img/chipotle.jpg" class="imgchoisir" onclick="window.open('http://www.chipotle.fr/locations')" >
        </div>

        <div class="blockchoisir">
            <img src="../img/dominos.jpg" class="imgchoisir" onclick="window.open('http://www.dominos.fr/commande-en-ligne/')" >
        </div>

        <div class="blockchoisir">
            <img src="../img/mcdo.jpg" class="imgchoisir" onclick="window.open('http://www.restaurants.mcdonalds.fr/')" >
        </div>

        <div class="blockchoisir">
            <img src="../img/mongoo.jpg" class="imgchoisir" onclick="window.open('http://www.saladessurmesure.com/#!contact/c24vq')" >
        </div>

        <div class="blockchoisir">
            <img src="../img/planetsushi.jpg" class="imgchoisir" onclick="window.open('http://www.planetsushi.fr/nos-restaurants/')" >
        </div>

        <div class="blockchoisir">
            <img src="../img/subway.jpg" class="imgchoisir" onclick="window.open('http://www.subwayfrance.fr/trouver-un-restaurant')" >
        </div>

        <div class="blockchoisir">
            <img src="../img/burger_king.jpg" class="imgchoisir" onclick="window.open('https://www.burgerking.fr/')" >
        </div>





    </ion-content>

</ion-view>