<ion-view view-title="Chats">
  <ion-content>

    <table>
      <tr>
        <td> <img src="../img/kfc.jpg"> </td>
        <td> <img src="../img/chicken.jpg"> </td>
      </tr>
      <tr>
        <td> <img src="../img/chipotle.jpg"> </td>
        <td> <img src="../img/dominos.jpg"> </td>
      </tr>
      <tr>
        <td> <img src="../img/flunch.jpg"> </td>
        <td> <img src="../img/mcdo.jpg"> </td>
      </tr>
      <tr>
        <td> <img src="../img/mongoo.jpg"> </td>
        <td> <img src="../img/planetsushi.jpg"> </td>
      </tr>
      <tr>
        <td> <img src="../img/subway.jpg"> </td>
        <td> <img src="../img/kfc.jpg"> </td>
      </tr>
    </table>

  </ion-content>
</ion-view>
