<ion-view view-title="account">
  <ion-content>


      <img src="img/texte-filtre.png" id="filtre" height="50px"/>

    <div ng-app="resto">


      <div>


        <div id="left">

          <input type="checkbox" id="copieux" class="checkbox" ng-click="includeType('Copieux')"/> Copieux <br/>
          <input type="checkbox"  class="checkbox"  ng-click="includeType('Pizzeria')"/> Pizzeria <br/>
          <input type="checkbox" class="checkbox" ng-click="includeType('Restaurant')"/> Restaurant <br/>
          <input type="checkbox" class="checkbox" ng-click="includeType('Fast Food')"/> Fast Food <br/>


        </div>

        <div id="right">

          <input type="checkbox" class="checkbox" ng-click="includeType('Mexicain')"/> Mexicain  <br/>
          <input type="checkbox"  class="checkbox"ng-click="includeType('Vegetarien')"/> Vegetarien  <br/>
          <input type="checkbox" class="checkbox" ng-click="includeType('Halal')"/> Halal  <br/>
          <input type="checkbox" class="checkbox" ng-click="includeType('Asiatique')"/> Asiatique  <br/>

        </div>
        <ul>
          <li ng-repeat="f in resto | filter:TypeFilter">
            {{f.name}}
          </li>
        </ul>

        <img src="img/gélékro.jpg" height="70px" id="validation" ng-click="filtrer()"/>

      </div>
    </div>


  </ion-content>
</ion-view>
