<ion-view view-title="Choisir">

    <ion-content>

        <div class="blockchoisir">
            <img src="../img/kfc.jpg" class="imgchoisir">
        </div>

        <div class="blockchoisir">
            <img src="../img/flunch.jpg" class="imgchoisir" >
        </div>

        <div class="blockchoisir">
            <img src="../img/chicken.jpg" class="imgchoisir">
        </div>

        <div class="blockchoisir">
            <img src="../img/chipotle.jpg" class="imgchoisir">
        </div>

        <div class="blockchoisir">
            <img src="../img/dominos.jpg" class="imgchoisir">
        </div>

        <div class="blockchoisir">
            <img src="../img/mcdo.jpg" class="imgchoisir">
        </div>

        <div class="blockchoisir">
            <img src="../img/mongoo.jpg" class="imgchoisir">
        </div>

        <div class="blockchoisir">
            <img src="../img/planetsushi.jpg" class="imgchoisir">
        </div>

        <div class="blockchoisir">
            <img src="../img/subway.jpg" class="imgchoisir">
        </div>

        <div class="blockchoisir">
            <img src="../img/kfc.jpg"class="imgchoisir">
        </div>



    </ion-content>

</ion-view>