/* Empty. Add your own CSS if you like */

.tabs{
    background-color: #4cd964;
}
.buttonfiltre{
    background-image: url("../img/buttonfiltre.png");
    background-repeat: no-repeat;
    background-size:contain;
    text-align: left;
}

.logo{
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}

.tab-item{
    max-width: inherit;
}

.aleatoire{
    background-image: url("../img/aleatoire.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 90%;
    height: 140px;
    margin: auto;
    margin-top: 15%;
}

.suggestion{
    background-image: url("../img/suggestion.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 90%;
    height: 140px;
    margin: auto;
}

.choisir {
    background-image: url("../img/choisir.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 90%;
    height: 140px;
    margin: auto;
}

    HEAD
.imgchoisir{
    
}

#filtre{
    margin-left: 20%;
    margin-top: 50px;
    margin-bottom: 50px;
}
.checkbox{
    background-color:black;
    border: 2px solid green;
    margin-bottom: 20px;
}

#left{
     float:left;
     width: 40%;
    font-size: 20px;
    font-weight: 400;
    margin-left: 10%;
    padding-right: 30px;
 }

#right{
    float:right;
    font-size: 20px;
    font-weight: 400;
    padding-right: 30px;
}

#validation{
    margin-left: 10%;
    margin-top: 100px;
}

